
@font-face {
	font-family: 'AlfaSlabOne';
	src: url('./bin/AlfaSlabOne.woff2') format('woff2'),
		url('./bin/AlfaSlabOne.ttf') format('ttf');
	font-style: normal;
	font-display: swap;
	font-weight: 300;
}
